<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikacja1.Properties.Settings.System_Zgloszen_IT_C_ConnectionString"
            connectionString="Data Source=LAPTOP-4E3ONTJK;Initial Catalog=System_Zgloszen_IT_C#;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>